@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:slnt,wght@-10..0,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #C8F31D;
    --cor-hover: #272727;

    --fonte-primaria: "DM Sans", sans-serif;
    --fonte-secundaria: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
    display: flex;
    align-items: center;
    gap: 53px;
}

.cabecalho__logo {
    max-width: 3%;
    cursor: pointer;
}

.cabecalho__menu {
    display: flex;
    gap: 53px;
}

.cabecalho__menu__link {
    font-size: 21px;
    font-family: var(--fonte-secundaria);
    font-weight: 350;
    text-decoration: none;
    color: var(--cor-terciaria);
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

strong {
    color: var(--cor-terciaria);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15% 13%;
}

.apresentacao__conteudo {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--fonte-primaria);
    font-weight: 300;
    letter-spacing: 3px;
}

.apresentacao__links__subtitulos {
    font-size: 26px;
    font-family: var(--fonte-primaria);
    font-weight: 200;
    letter-spacing: 3px;
}

.apresentacao__conteudo__paragrafo {
    font-size: 21px;
    font-family: var(--fonte-secundaria);
    font-weight: 100;
}

span {
    color: var(--cor-terciaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__link {
    width: 378px;
    text-align: center;
    border-radius: 8px;
    border: 1.7px solid var(--cor-terciaria);
    padding: 8px 0;
    color: var(--cor-secundaria);
    font-size: 21px;
    font-family: var(--fonte-secundaria);
    font-weight: 350;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.apresentacao__links__link__icon {
    width: 35px;
    }

.foto-principal {
    max-width: 35%;
}

.rodape {
    color: #000000;
    background-color: var(--cor-terciaria);
    font-size: 17px;
    font-family: var(--fonte-secundaria);
    font-weight: 350;
    text-align: center;
    padding: 24px;
}