@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:slnt,wght@-10..0,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
    display: flex;
    align-items: center;
    gap: 53px;
}

.cabecalho__logo {
    max-width: 3%;
    cursor: pointer;
}

.cabecalho__menu {
    display: flex;
    gap: 53px;
}

.cabecalho__menu__link {
    font-size: 21px;
    font-family: "Inter", sans-serif;
    font-weight: 350;
    text-decoration: none;
    color: #C8F31D;
}

body {
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

strong {
    color: #C8F31D;
}

a {
    color: DodgerBlue;

}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15% 13%;
}

.apresentacao__conteudo {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
}

.apresentacao__links__subtitulos {
    font-size: 26px;
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
}

.apresentacao__conteudo__paragrafo {
    font-size: 21px;
    font-family: "Inter", sans-serif;
    font-weight: 100;
}

span {
    color: #C8F31D;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__link {
    width: 378px;
    text-align: center;
    border-radius: 8px;
    border: 1.7px solid #C8F31D;
    padding: 8px 0;
    color: #F6F6F6;
    font-size: 21px;
    font-family: "Inter", sans-serif;
    font-weight: 350;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.apresentacao__links__link:hover {
    background-color: #272727;
}

.apresentacao__links__link__icon {
    width: 35px;
    }

.foto-principal {
    max-width: 35%;
}

.rodape {
    color: #000000;
    background-color: #C8F31D;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    font-weight: 350;
    text-align: center;
    padding: 24px;
}