@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:slnt,wght@-10..0,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #C8F31D;
    --cor-hover: #272727;

    --fonte-primaria: "DM Sans", sans-serif;
    --fonte-secundaria: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
    display: flex;
    align-items: center;
    gap: 3.31rem;
}

.cabecalho__logo {
    max-width: 3%;
    cursor: pointer;
}

.cabecalho__menu {
    display: flex;
    gap: 3.31rem;
}

.cabecalho__menu__links {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 350;
    text-decoration: none;
    color: var(--cor-terciaria);
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

strong {
    color: var(--cor-terciaria);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15% 13%;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 300;
    letter-spacing: 0.3rem;
}

.apresentacao__links__subtitulos {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 200;
    letter-spacing: 0.3rem;
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 100;
}

span {
    color: var(--cor-terciaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao__links__navegacao {
    width: 53%;
    text-align: center;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--cor-terciaria);
    padding: 0.5rem 0;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 350;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__links__navegacao__icon {
    width: 2.2rem;
    }

.apresentacao__foto-principal {
    width: 50%;
}

.rodape {
    color: #000000;
    background-color: var(--cor-terciaria);
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    font-weight: 350;
    text-align: center;
    padding: 1.5rem;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__links__navegacao {
        width: 30%;
    }
}

@media (max-width: 700px) {
    .apresentacao__links__navegacao {
        width: 70%;
    }
}